<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta charset="utf-8">
    <title>
        {% block title %}
        Blog
        {% endblock %}
    </title>

    <link type="text/css" rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    {% block styles %}
    <link type="text/css" rel="stylesheet" href="../static/styles/base.css">
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    {% block my_js %}
        <!-- Your js here -->
    {% endblock %}
</head>

<body>
    <div class="container-flex">
        {% block header %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="page-header">
                    <h1>{{ params["header"] }}</h1>
                    <h5>
                        {% if params["is_logged_in"] %}
                            <a href="/blog"> Main </a>
                            <a href="/blog/newpost"> New Post </a>
                            <a href="/blog/logout"> Logout </a>
                        {% elif params["header"] == "Login" %}
                                <a href="/blog/signup"> Signup </a>
                        {% else %}
                            <a href="/blog/login"> Login </a>
                        {% endif %}
                    </h5>
                </div>
            </div>
        </div>
        {% endblock %}

        {% block content %}
        {% endblock %}
    </div>
    {% block modals %}
    {% endblock %}
</body>
</html>
