{% extends "base.html" %}

{% block title %}
    {{ super() }}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="../static/styles/blog.css">
{% endblock %}


{% block content %}
    <div class="row">
        {% for blog_post in params["blog_posts"] %}
            <div class="col-md-4 col-md-offset-4 blog-post">
                <div class="post-header">
                    <div class="post-subject">
                        <a href="{{ blog_post.key().id() }}">
                            <h3>{{ blog_post.subject }}</h3>
                        </a>
                    </div>

                    {% if params["show_edit"] %}
                    <form class="edit-or-delete" method="post">
                        <input type="hidden" name="post_id" value="{{ blog_post.key().id() }}">
                        <div class="edit">
                            <button name="choice" value="edit"> Edit </button>
                        </div>
                        <div class="edit">
                            <button name="choice" value="delete"> Delete </button>
                        </div>
                    </form>
                    {% endif %}
                </div>

                <div class="post-content">
                    <pre>{{ blog_post.content }}</pre>
                </div>

                <div class="footer">
                    <div class="posted-by">
                        Posted by {{ blog_post.get_poster() }}
                    </div>
                    <div class="created">
                        At {{ blog_post.created.strftime('%Y-%m-%d %H:%M') }}
                    </div>
                    {% if params["show_edit"] %}
                    <form method="post" class="like">
                        <button name="choice" value="like"> like </button>
                        likes {{ params["num_likes"] }}
                    </form>
                    {% endif %}
                </div>
                {% if params["invalid_edit"] %}
                <div class="error">
                    You can only update or delete your own post.
                </div>
                {% elif params["invalid_like"] %}
                <div class="error">
                    You cannot like your own post.
                </div>
                {% endif %}
            </div>
        {% else %}
            <div class="col-md-6 col-md-offset-3 panel panel-warning">
                <div class="panel-body">
                    <div class="post-header">No posts found.</pre>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
