{% extends "base.html" %}

{% block title %}
    {{ super() }}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="../static/styles/blog.css">
{% endblock %}


{% block header %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1> Blog </h1>
        </div>
    </div>
{% endblock %}

{% block content %}
        {% for blog_post in params["blog_posts"] %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3 panel panel-info">
                <div class="panel-heading">
                    <div class="post-subject">
                        <a href="{{ blog_post.key().id()}}">
                            <h3>{{ blog_post.subject }}</h3>
                        </a>
                    </div>
                </div>
                <div class="panel-body post-content">
                    <pre>{{ blog_post.content }}</pre>
                </div>
                <div class="panel-footer footer">
                    <div class="posted-by">
                        Posted by {{ blog_post.get_poster() }}
                    </div>
                    <div class="created">
                        At {{ blog_post.created.strftime('%Y-%m-%d %H:%M') }}
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3 panel panel-warning">
                <div class="panel-body">
                    <div class="post-header">No posts found.</pre>
                </div>
            </div>
        </div>
        {% endfor %}

{% endblock %}
