{% extends "base.html" %}

{% block style %}
    <link type="text/css" rel="stylesheet" href="../static/styles/base.css">
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-3 col-md-offset-4 vertical-fix panel panel-primary">
            <form method="post">
                <label class="input-box">
                    <div class="description">Username</div>
                    <div><input type="text" name="username" value="{{ params["username"] }}"></div>
                </label >
                <label class="input-box">
                    <div class="description">Password</div>
                    <div><input type="password" name="password"></div>
                </label >
                <input type="submit">
                <div class="error"> {{ params["error"] }}</div>
            </form>
        </div>
    </div>
{% endblock %}
