{% extends "base.html" %}

{% block title %}  {% endblock %}

{% block styles %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="../static/styles/post.css">
{% endblock %}

        {% block content %}
            <div class="row">
                <div class="col-md4 col-md-offset-4">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <form method="post">
                                <div class="data-entry">
                                    <label>
                                        <div>
                                            subject
                                        </div>
                                        <div>
                                            {% if params["blog_post"] %}
                                            <input type="text" name="subject" value="{{ params["blog_post"].subject }}">
                                            {% else %}
                                            <input type="text" name="subject" value="{{ subject }}">
                                            {% endif %}
                                        </div>
                                    </label>
                                </div>
                                <div class="data-entry">
                                    <label>
                                        <div>
                                            Blog
                                        </div>
                                        <div>
                                            {% if params["blog_post"] %}
                                            <textarea name="content">{{ params["blog_post"].content }}</textarea>
                                            {% else %}
                                            <textarea name="content">{{ content }}</textarea>
                                            {% endif %}
                                        </div>
                                    </label>
                                </div>
                                <div class="data-entry">
                                    <button name="choice" value="submit"> submit </button> <button name="choice" value="cancel"> cancel </button>
                                </div>
                            </form>
                            <br>
                            <div class="error">
                                {{ error }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
