.post-subject {
    float:left;
}

.blog-post + .blog-post, form + form, .post-comment {
    margin-top: 30px;
}

.created {
    text-align: right;
}

pre {
    white-space: pre-wrap;
    word-break: keep-all;
    max-width: 100%;
    overflow-x: hidden;
    border: 0px;
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.post-content {
    max-width: 100%;
    overflow-x: hidden;
}

.posted-by, .created {
    margin-right: 10px;
    font-size: 0.8em;
    font-style: italic;
}

.edit-or-delete, .post-header, .footer, .delete-or-like {
    display: flex;
}

.edit-or-delete, .like {
    margin-left: auto;
}

.edit, .btn-add-comment {
    margin-top: 3vh;
}

.edit + .edit, .btn + .btn {
    margin-left: 20px;
}

.comment {
    width: 100%;
}

h4 {
    margin-top: 5vh;
}

.spacer {
    max-height: 40px;
    margin-top: auto;
}

.edit-comment, .add-comment {
top: 30%;
right: 0%;
outline: none;
}
