.post-header {
    border-bottom: solid 1px;
    display: flex;
}

.post-header + .post-header {
    margin-top: 30px;
}

.created {
    text-align: right;
}

.custom-container {
    max-width: 600px;
    margin: auto;
}

pre {
    white-space: pre-wrap;
    word-break: keep-all;
    max-width: 100%;
    overflow-x: hidden;
}

.post-content {
    max-width: 100%;
    overflow-x: hidden;
}
