label {
    display: block;
    font-size: 1em;
}

/*Put space between element of the "data-entry" class.*/
.data-entry + .data-entry {
    margin-top: 30px;
}

input[type=text] {
    width: 100%;
    padding: 2px;
}

textarea {
    width: 100%;
    height: 200px;
    font-family: monospace;
}

/*input[type=submit] {
    font-size: 24px;
}*/

.panel {
    max-width: 600px;
}

button + button {
    margin-left: 20px;
}
